</main>
<footer class="footer">
	<div class="container" style="text-align: right;">
		<%= {j: "言語 Language: ", e: "Language: ", c: "语言 Language: ", k: "언어 Language: "}[lang] %>
		<select id="language_select">
			<option value="j">日本語</option>
			<option value="e">English</option>
			<option value="c">简体中文</option>
			<option value="k">한국어</option>
		</select>
	</div>
</footer>
<script src="/includes/custom.js"></script>
</body>
</html>